.contenedor{
    width: 99%;
    border: solid 6px;
    border-radius: 12px;
    background-color: rgb(200, 136, 212);
    text-align: center;
    
}

.titulo-modificado{
    text-align: center;
    background-color: indigo;
    border-radius: 20px;
    width: 35%;
    margin: auto;
    border: solid 3px;
    

}

.btn{

    width: 140px;
    text-align: center;
    
    
    
    
}



